/* everything */
* {
        background-color: #B4CF66;
        font-family: 'Roboto', sans-serif;
        color: #F2B705;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        scroll-behavior: smooth;
        text-align: center;
}

/* the title */
h1 {
    text-align: center;
    color: #FF5A33;
}

/* lesson cards */
.container, h2, h4, form {
    margin: 1rem;
    padding: 0.5rem;
    background-color: #146152;
    border-radius: 10px;
}

input {
    background-color: #FF5A33;
    padding: 0.75rem;
    margin: 0.25rem;
}

/*delete button*/
.delete-btn {

    color: white;
    padding: 8px;
    background-color: red;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    outline-style: solid;
    outline-color: var(--gray-color);
}

/*add button*/
.add-btn {
    color: white;
    padding: 8px;
    background-color: rgb(179, 0, 255);
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    outline-style: solid;
    outline-color: var(--gray-color);
}