/* everything */
* {
        background-color: #E4DDC9;
        font-family: 'Roboto', sans-serif;
        color: black;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        scroll-behavior: smooth;
        text-align: center;
}

/* the title */
h1 {
    text-align: center;
    color: black;
}

/* lesson cards
.container, h2, h4, form {
    margin: 1rem;
    padding: 0.25rem;
    background-color: #A8C8E3;
    border-radius: 10px;
}
*/

/* lesson cards */
.container, h2, h4, form {
    margin: 1rem;
    background-color: #A8C8E3;
    border-radius: 10px;
}

container, form {
    padding: 0.5rem;
}

input {
    background-color: #E4DDC9;
    padding: 0.75rem;
    margin: 0.25rem;
}

/*delete button*/
.delete-btn {

    color: white;
    padding: 8px;
    background-color: red;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    outline-style: solid;
    outline-color: var(--gray-color);
}

/*add button*/
.add-btn {
    color: white;
    padding: 8px;
    background-color: #9C9481;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    outline-style: solid;
    outline-color: var(--gray-color);
}